.card-size {
    height: 115px !important;
}

.card-body i {
    color: #dc3e1d;
    font-size: 30px !important;
}

.card-body .text-xs {
    font-size: 13px;
}

.chart-pie {
    height: 407px;
}

.chart-pie .mr-2 i {
    font-size: 13px !important;
}

.color-grey {
    color: #808080 !important;
}

.lineChart {
    width: 50vw;
}

.bodyCanvas{
    margin: 0 auto;
    width: 75%;
}

.chart-size {
    margin-left: 300px;
}

canvas{
    margin: 0;
}