/* BANNER */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
}

.banner .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box-banner-img-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 90vh;
    border-radius: var(--raio-borda);
    /* background-color: black; */
    position: relative;
    background-image: url('../assets/banner-home.webp');
    background-repeat: no-repeat;
    background-position: right;
}

.box-banner {
    display: flex;          
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background-image: linear-gradient(to right, var(--cor-cinza), #edededf2,rgba(255,0,0,0), rgba(255,0,0,0));
    width: 100%;
    height: 100%;
    position: absolute;

}

.box-divisao {
    width: 40%;
    padding: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* BANNER - FIM */

/* SOCIAL */

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.social .container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.social-raia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.social-raia .box-divisao {
    justify-content: space-evenly;
}

.box-imagem {
    width: 100%;
    height: 100%;
    background-color: var(--cor-cinza);
    border-radius: var(--raio-borda);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social-imagem-1 {
    background-image: url('../assets/social-img1.jpeg');
}

.social-imagem-2 {
    background-image: url('../assets/social-img2.jpeg');
}

.box-download {
    background-color: var(--cor-cinza);
    border-radius: var(--raio-borda);
    background-image: url('../assets/social-img3.webp');
    background-position: bottom;
    background-size: cover;
    width: 100%;
    padding: 5%;
    height: 55%;
}

.but-download {
    padding: 12px;
    font-size: var(--fonte-normal);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso);
    color: white;
    background-color: var(--cor-secundaria);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

